<div ng-init="vm.loadAccountData()">
    <div class="container">
        <div class="panel panel-default">
            <form name="DepositForm">
                <div class="panel-heading">Account:{{vm.email}}</div>
                <div class="panel-heading">Current balance:{{vm.balance}}</div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" name="amount" placeholder="Enter amount"
                           ng-model="vm.amount" step="0.01"><br>
                </div>
                <button type="submit" class="btn btn-primary" name="operation" value="deposit"
                        ng-click="vm.deposit(vm.amount)">
                    Deposit
                </button>
                <br>
            </form>
        </div>
    </div>
</div>
