<div id="login-overlay" class="modal-dialog">
    <legend>Login</legend>
    <div class="modal-body">
        <div class="col-xs-6">
            <div class="well">
                <form name="LoginForm">
                    Email:<br>
                    <input type="text" class="form-control" ng-model="vm.email">
                    Password:<br>
                    <input type="password" class="form-control" ng-model="vm.password">
                    <br>
                    <button type="button" class="btn btn-success" ng-click="vm.login(vm.email,vm.password)">Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>